<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><i class="fab fa-node-js fa-3x"></i></h1>
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
        <div>
          <p>or connect with</p>
        </div>
        <div>
          <a href="/google" class="btn"><img src="../google-logo.png"/></a>
          <a href="/facebook" class="btn"><img src="../facebook-logo.png"/></a>
          <a href="/amazon" class="btn"><img src="../amazon-logo.png"/></a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>